@model List<Request>

<h1> Request List </h1>


<div class="pt-2 pb-2">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>VIN</th>
                <th>PlateNum</th>
                <th>VehicleMake</th>
                <th>VehicleModel</th>
                <th>Mileage</th>
                <th>Description</th>
                <th>OfficerId</th>
                <th>  </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request in Model)
            {
                <tr>
                    <td>@request.VIN</td>
                    <td>@request.PlateNum</td>
                    <td>@request.VehicleMake</td>
                    <td>@request.VehicleModel</td>
                    <td>@request.Mileage</td>
                    <td>@request.Description</td>
                    <td>@request.OfficerId</td>

                    <td>
                        <a asp-controller="Request" asp-action="Edit" asp-route-id="@request.RequestId">Edit</a> <br />
                        <a asp-controller="Request" asp-action="Delete" asp-route-id="@request.RequestId">Delete</a> <br />
                        <a asp-controller="Request" asp-action="Details" asp-route-id="@request.RequestId">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <div class="col-6">
    </div>
    <div class="col-6">
        <a asp-controller="Request" asp-action="Create" class="btn btn-primary">Add New Request</a>
    </div>
</div>